
*{
  box-sizing: border-box;
}

html{
  height:100%
}
body{
    background-color:hsl(30, 38%, 92%);
   font-family:"Montserrat";
}

main{
max-width:375px;
width:100%;
margin:auto; 
border-radius: 12px;
background-color: white;
overflow:hidden;
  
}
img{
  width:100%;

   
}

button{
  background-color: hsl(158, 36%, 37%);
  width:100%;
  color:white;
  border:none;
  padding:1.5em; 
  border-radius: 15px;
  font-size: .875rem;
  font-weight:700;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-shrink:0;
  gap:5px;
  
  
}

h2{
  
  color:hsla(228, 12%, 48%, 1);
  font-weight:500;
  font-size:.75rem;

}
h1{
  font-family:"Fraunces";
  font-size:2rem;
  font-weight:700;
}
.text-container{
  margin:auto 24px 16px 24px;
}

.price{
font-family:"Fraunces";
color: hsl(158, 36%, 37%);
font-size: 2rem;

}

.discount{
  font-size:.75rem;
  text-decoration: line-through;
  color:
  
}